{extend name="public/base" /}
{block name="style"}
		<link rel="stylesheet" href="__CSS__/konw-insure.css">
		<link rel="stylesheet" href="__CSS__/buy.css"  />
{/block}


{block name="body"}
		<!--头部固定导航区域-->
		<!-- <div id="nav" class="nav">
	    	<div class="container">
	    		<ul class="nav-main">
	    			<li><a href="#">首页</a></li>
	    			<li><a href="#">找保险</a></li>
	    			<li><a href="#">找代理人</a></li>
	    			<li><a href="#">了解保险</a></li>
	    			<li><a href="#">保险问吧</a></li>
	    			<li><a href="#">关于平台</a></li>
	    		</ul>
	    		<ul class="nav-little">
	    			<li><a href="#">会员中心</a></li>
	    			<li><a href="#">会员服务</a></li>
	    			<li><a href="#">支付中心</a></li>
	    			<li><a href="#">联系方式</a></li>
	    		</ul>
	    	</div>
	    </div> -->
	    <!--头部固定导航区域结束-->
	    <div id="headline">
	    	<div class="container">
	    		<div class="headline">
	    			<div  class="headline-left fl">
	    			<p class="title-gy">头条资讯 <a class="gengduo1" href="{:url('Article/lists', ['id'=>42])}">查看更多>></a></p>
	    			<ul class="ulAll">
	    			{foreach $headline as $k=>$v}
	    				<li><a href="{:url('home/Insurance/knowDetail', ['id'=>$k])}">{$v}</a></li>
	    			{/foreach}
	    			</ul>
	    			<div class="ad_ul">
	    			   <a href="#">
	    				<img src="__IMG__/insure/ul_bg.png" height="180" width="400">
	    				<div class="ad_ul_1"></div>
	    				<div class="ad_ul_2">两名中国游客在泰国遭歹徒砍伤 境外旅游险为出行护航</div>
	    			   </a>
	    			</div>
	    			</div>
	    			<div class="headline-right fr">
	    				<div class="headline-lunbo">
	    					<div class="headlinejs" id="headlinejs">
			    				<div class="headlineimage">
			    					<img onclick="location.href='#轮播图片要跳转的地址'" src="__IMG__/insure/banner1.png" height="300px" width="750px">
			    					<img onclick="location.href='#轮播图片要跳转的地址'" src="__IMG__/insure/banner2.png" style="display: none;" height="300px" width="750px">
			    					<img onclick="location.href='#轮播图片要跳转的地址'" src="__IMG__/insure/banner3.png" style="display: none;" height="300px" width="750px">
			    					<img onclick="location.href='#轮播图片要跳转的地址'" src="__IMG__/insure/banner4.png" style="display: none;" height="300px" width="750px">
			    					<img onclick="location.href='#轮播图片要跳转的地址'" src="__IMG__/insure/banner5.png" style="display: none;" height="300px" width="750px">
			    				</div>
			    				<div class="headlineNav" id="headlineNav">
			    					<a class="trigger imgSelected" href="javascript:void(0)"></a>
									<a class="trigger" href="javascript:void(0)"></a>
									<a class="trigger" href="javascript:void(0)"></a>
									<a class="trigger" href="javascript:void(0)"></a>
									<a class="trigger" href="javascript:void(0)"></a>
			    				</div>
		    			    </div>
	    				</div>
	    				<div class="headline-refe">
	    					<div class="headline-refe-left fl">
	    						<p class="title-gy">推荐资讯 <a class="gengduo1" href="{:url('Article/lists', ['id'=>42])}">查看更多>></a></p>
				    			  	<ul class="ulAll">
				    			  	{foreach $recommend as $k=>$v}
					    				<li><a href="{:url('home/Insurance/knowDetail', ['id'=>$k])}">{$v}</a></li>
					    			{/foreach}
				    			  	</ul>
	    					</div>
	    					<div class="headline-refe-right fr">
	    						<p class="title-gy">热门咨询 <a class="gengduo1" href="{:url('Article/lists', ['id'=>42])}">查看更多>></a></p>
	    						  	<ul class="ulAll">
	    						  	{foreach $hot as $k=>$v}
					    				<li><a href="{:url('home/Insurance/knowDetail', ['id'=>$k])}">{$v}</a></li>
					    			{/foreach}
	    						  	</ul>
	    					</div>
	    				</div>
	    			</div>
	    		</div>
	    	</div>
	    </div>
	    <!--ad-->
	    <div id="ad">
	    	<div class="container">
	    		<div class="ad">
						<a href="{:url('/home/message/index')}">
						   <img src="__IMG__/public/ad2.png" width="1180" height="100">
					   </a>
	    		</div>
	    	</div>
	    </div>
		<!--保险five之保险学堂-->
		<div id="insure-school">
			<div class="container">
				<div class="insure-school">
					<div class="five-top">
					 	<div class="five-title">
					 		保险学堂
					 	</div>
					 	<div class="five-tiele-right fr">
					 		<a href="{:url('Article/lists', ['id'=>50])}">查看更多>></a>
					 	</div>
					</div>
					<div class="five-main">
					 	<ul class="five-ul fl ulAll">
					 	{foreach $school as $row}
					 	   <li><a href="{:url('home/Insurance/knowDetail', ['id'=>$row.article_id])}">{$row.title}</a>
							<span>
								<a href="javascript:void(0)"><span class="math">{$row.like}</span></a>
								<a href="javascript:void(0)"><span class="math2">{$row.views}</span></a>
							</span>
					 	   </li>
					 	{/foreach}
					 	</ul>


					</div>

				</div>
			</div>
		</div>
	    <!--保险five之保险案例-->
	    <div id="insure-anli">
	    	<div class="container">
		    	<div class="insure-anli">
		    		<div class="five-top">
						 	<div class="five-title">
						 		保险案例
						 	</div>
						 	<div class="five-tiele-right fr">
					 		    <a href="{:url('Article/lists', ['id'=>51])}">查看更多>></a>
					 	    </div>
					</div>

				    <div class="anli-main five-main">
				    	<div class="anli-main-left fl">
				    		<ul class="five ulAll">
				    		{foreach $case as $k=>$row}
				    		   <li><a href="{:url('home/Insurance/knowDetail', ['id'=>$k])}">{$row}</a></li>
				    		{/foreach}
				    		</ul>
				    	</div>
				    	<div class="anli-main-right fr">
				    	{foreach $casePhoto as $k=>$row}
				    		<a href="{:url('home/Insurance/knowDetail', ['id'=>$row.article_id])}" class="fl">
				    			<img src="{$row.cover|default='/static/home/images/insure/ceshi1232.png'}" alt="{$row.title}" height="120" width="240">
				    			<p>{$row.title}</p>
				    		</a>
				    	{/foreach}
				    	</div>
				    </div>
		    	</div>
	    	</div>
	    </div>
		<!--保险five之理财知识-->
		<div id="insuer-zhishi">
			<div class="container">
				<div class="insuer-zhishi">
					<div class="five-top">
						 	<div class="five-title">
						 		理财知识
						 	</div>
						 	<div class="five-tiele-right fr">
					 			<a href="{:url('Article/lists', ['id'=>53])}">查看更多>></a>
					 	    </div>
					</div>

					<div class="zhishi-main five-main">
						<ul class="five-ul fl ulAll">
							{foreach $money as $row}
				    		    <li><a href="{:url('home/Insurance/knowDetail', ['id'=>$row.article_id])}">{$row.title}</a>
				    		    <span>
									<a href="javascript:void(0)"><span class="math">{$row.like}</span></a>
									<a href="javascript:void(0)"><span class="math2">{$row.views}</span></a>
							   </span></li>

				    		{/foreach}
					 	</ul>
					</div>
				</div>
			</div>
		</div>
	    <!--保险five之人物专访-->
	    <div id="insure-interview">
	    	<div class="container">
	    		<div class="insuer-interview">
	    			<div class="five-top">
						 	<div class="five-title">
						 		人物专访
						 	</div>
						 	<div class="five-tiele-right fr">
					 		<a href="{:url('Article/lists', ['id'=>52])}">查看更多>></a>
					 	    </div>
					</div>

					<div class="five-main">
						<ul class="five-ul last-policy fl ulAll">
					 	    {foreach $interview as $row}
				    		   <li><a href="{:url('home/Insurance/knowDetail', ['id'=>$row.article_id])}">{$row.title}</a>
									<span>
									<a href="javascript:void(0)"><span class="math">{$row.like}</span></a>
									<a href="javascript:void(0)"><span class="math2">{$row.views}</span></a>
								   </span>
				    		   </li>
				    		{/foreach}
					 	</ul>

					</div>
	    		</div>
	    	</div>
	    </div>
		<!--保险five之政策解读-->
		<div id="insure-policy">
			<div class="container">
				<div class="insure-policy">
					<div class="five-top">
					 	<div class="five-title">
					 		政策解读
					 	</div>
					 	<div class="five-tiele-right fr">
					 		<a href="{:url('Article/lists', ['id'=>43])}">查看更多>></a>
					 	</div>
					</div>

					<div class="five-main">
					 	<ul class="five-ul fl ulAll">
					 	{foreach $unscramble as $row}
			    		    <li><a href="{:url('home/Insurance/knowDetail', ['id'=>$row.article_id])}">{$row.title}</a>
			    		    <span>
								<a href="javascript:void(0)"><span class="math">{$row.like}</span></a>
								<a href="javascript:void(0)"><span class="math2">{$row.views}</span></a>
							</span>
							</li>

			    		{/foreach}
					 	</ul>

					</div>

				</div>
			</div>
		</div>
{/block}
{block name='script'}
<script type="text/javascript" src="__JS__/jquery.js" ></script>
<script type="text/javascript" src="__JS__/main.js" ></script>
<script >
$(document).ready(function(){
   $(".nav-main>li:eq(3)").addClass('indexon');
})
</script>
{/block}
