{extend name="public/base" /}
{block name="style"}
		<link rel="stylesheet" href="__CSS__/text_list.css" />
{/block}


{block name="body"}
		<div id="place">
			<div class="container">
				<div class="place">
					<p>
					    <span>了解保险</span>-<span>文章列表</span>-<span id="titre">保险案例</span>
					</p>
				</div>
			</div>
		</div>
		<div id="main">
			<div class="container">
				<div class="main">
					<div class="title">
						<ul class="title_list">
							<li class="on">保险案例</li>
							<li>理财知识</li>
							<li>人物专访</li>
							<li>政策解读</li>
							<li>保险学堂</li>
						</ul>
					</div>
					<div class="product_wrap">
						<!--保险案例数据-->
						<div class="product show">
							<div class="text_main">
								<!--文章标题-->
								<p>投保后能退保吗？</p>
								<!--文章内容简介-->
								<p>有人在购买商业保险后，发现该保险产品的保障项目不太符合自身需求而反悔的话，便可申请退保。商业保险退保要分两种情况，第一种是客户在投保后会存在10
									天左右的犹豫期，也就是大家通常说的反悔期，在这一期间客户前往保险公司办理退保手续的话，是可以获得全额退款的。第二种是客户购买产品已经过了犹豫期了，
									这个时候保险合同已经正式成立，产品的保障功能和投资运作已经正式开始，若客户坚持要办理退保手续，保险公司会按照保单现金价值退还保费，一般会损失一半
									左右的已交保费。
								</p>
								<p>来源：<span>法保兜•保险网</span> 日期：<span>2017-08-28</span><span><a href="#">更多>></a></span></p>
							</div>

							<div class="text_main">
								<!--文章标题-->
								<p>投保后能退保吗？</p>
								<!--文章内容简介-->
								<p>有人在购买商业保险后，发现该保险产品的保障项目不太符合自身需求而反悔的话，便可申请退保。商业保险退保要分两种情况，第一种是客户在投保后会存在10
									天左右的犹豫期，也就是大家通常说的反悔期，在这一期间客户前往保险公司办理退保手续的话，是可以获得全额退款的。第二种是客户购买产品已经过了犹豫期了，
									这个时候保险合同已经正式成立，产品的保障功能和投资运作已经正式开始，若客户坚持要办理退保手续，保险公司会按照保单现金价值退还保费，一般会损失一半
									左右的已交保费。
								</p>
								<p>来源：<span>法保兜•保险网</span> 日期：<span>2017-08-28</span><span><a href="#">更多>></a></span></p>
							</div>

							<div class="text_main">
								<!--文章标题-->
								<p>投保后能退保吗？</p>
								<!--文章内容简介-->
								<p>有人在购买商业保险后，发现该保险产品的保障项目不太符合自身需求而反悔的话，便可申请退保。商业保险退保要分两种情况，第一种是客户在投保后会存在10
									天左右的犹豫期，也就是大家通常说的反悔期，在这一期间客户前往保险公司办理退保手续的话，是可以获得全额退款的。第二种是客户购买产品已经过了犹豫期了，
									这个时候保险合同已经正式成立，产品的保障功能和投资运作已经正式开始，若客户坚持要办理退保手续，保险公司会按照保单现金价值退还保费，一般会损失一半
									左右的已交保费。
								</p>
								<p>来源：<span>法保兜•保险网</span> 日期：<span>2017-08-28</span><span><a href="#">更多>></a></span></p>
							</div>
							<div class="text_main">
								<!--文章标题-->
								<p>投保后能退保吗？</p>
								<!--文章内容简介-->
								<p>有人在购买商业保险后，发现该保险产品的保障项目不太符合自身需求而反悔的话，便可申请退保。商业保险退保要分两种情况，第一种是客户在投保后会存在10
									天左右的犹豫期，也就是大家通常说的反悔期，在这一期间客户前往保险公司办理退保手续的话，是可以获得全额退款的。第二种是客户购买产品已经过了犹豫期了，
									这个时候保险合同已经正式成立，产品的保障功能和投资运作已经正式开始，若客户坚持要办理退保手续，保险公司会按照保单现金价值退还保费，一般会损失一半
									左右的已交保费。
								</p>
								<p>来源：<span>法保兜•保险网</span> 日期：<span>2017-08-28</span><span><a href="#">更多>></a></span></p>
							</div>
						</div>
						<!--理财知识数据-->
						<div class="product">
							<div class="text_main">
								<!--文章标题-->
								<p>投保后能退保吗？</p>
								<!--文章内容简介-->
								<p>有人在购买商业保险后，发现该保险产品的保障项目不太符合自身需求而反悔的话，便可申请退保。商业保险退保要分两种情况，第一种是客户在投保后会存在10
									天左右的犹豫期，也就是大家通常说的反悔期，在这一期间客户前往保险公司办理退保手续的话，是可以获得全额退款的。第二种是客户购买产品已经过了犹豫期了，
									这个时候保险合同已经正式成立，产品的保障功能和投资运作已经正式开始，若客户坚持要办理退保手续，保险公司会按照保单现金价值退还保费，一般会损失一半
									左右的已交保费。
								</p>
								<p>来源：<span>法保兜•保险网</span> 日期：<span>2017-08-28</span><span><a href="#">更多>></a></span></p>
							</div>
						</div>
						<!--人物专访数据-->
						<div class="product">
							<table width="1100" border="0" cellpadding="0" cellspacing="0" >
								  <tbody>
								    <tr>
								      <td width="82">顺序</td>
								      <td width="182">名称</td>
								      <td width="558">主题</td>
								      <td width="277">时间</td>
								    </tr>
								    <tr>
								      <td>1</td>
								      <td>叶少峰</td>
								      <td>一份耕耘，一份收获</td>
								      <td>2017年7月20日</td>
								    </tr>
								    <tr>
								      <td>2</td>
								      <td>刘能</td>
								      <td>天下没有白吃的午餐</td>
								      <td>2017年8月1日</td>
								    </tr>
								    <tr>
								      <td>3</td>
								      <td>赵小四</td>
								      <td>世上无难事</td>
								      <td>2017年8月5日</td>
								    </tr>
								    <tr>
								      <td>4</td>
								      <td>王上</td>
								      <td>远方不仅有诗，也有保险</td>
								      <td>2017年8月10日</td>
								    </tr>
								  </tbody>
								</table>
						</div>
						<!--政策解读数据-->
						<div class="product">
							<div class="text_main">
								<!--文章标题-->
								<p>投保后能退保吗？</p>
								<!--文章内容简介-->
								<p>有人在购买商业保险后，发现该保险产品的保障项目不太符合自身需求而反悔的话，便可申请退保。商业保险退保要分两种情况，第一种是客户在投保后会存在10
									天左右的犹豫期，也就是大家通常说的反悔期，在这一期间客户前往保险公司办理退保手续的话，是可以获得全额退款的。第二种是客户购买产品已经过了犹豫期了，
									这个时候保险合同已经正式成立，产品的保障功能和投资运作已经正式开始，若客户坚持要办理退保手续，保险公司会按照保单现金价值退还保费，一般会损失一半
									左右的已交保费。
								</p>
								<p>来源：<span>法保兜•保险网</span> 日期：<span>2017-08-28</span><span><a href="#">更多>></a></span></p>
							</div>
						</div>
						<!--保险学堂数据-->
						<div class="product">
							<div class="text_main">
								<!--文章标题-->
								<p>投保后能退保吗？</p>
								<!--文章内容简介-->
								<p>有人在购买商业保险后，发现该保险产品的保障项目不太符合自身需求而反悔的话，便可申请退保。商业保险退保要分两种情况，第一种是客户在投保后会存在10
									天左右的犹豫期，也就是大家通常说的反悔期，在这一期间客户前往保险公司办理退保手续的话，是可以获得全额退款的。第二种是客户购买产品已经过了犹豫期了，
									这个时候保险合同已经正式成立，产品的保障功能和投资运作已经正式开始，若客户坚持要办理退保手续，保险公司会按照保单现金价值退还保费，一般会损失一半
									左右的已交保费。
								</p>
								<p>来源：<span>法保兜•保险网</span> 日期：<span>2017-08-28</span><span><a href="#">更多>></a></span></p>
							</div>

						</div>
						<!--分页-->
							<div class="fenye">
								<div class="fy">
                                    {$pager}
								</div>
							</div>
					</div>
				</div>
			</div>
		</div>
{/block}
{block name='script'}
<script type="text/javascript" src="__JS__/jquery.js" ></script>
<script type="text/javascript" src="__JS__/text-list.js" ></script>
{/block}