{extend name="public/base" /}
{block name="style"}
		<link rel="stylesheet" href="__CSS__/ask.css" />
		<link rel="stylesheet" href="__CSS__/product1.css">
		<link rel="stylesheet" href="__CSS__/answer.css">
{/block}


{block name="body"}
	    <div id="ask-search">
			<div class="container">
				<div class="ask-search">
					<form>
						<input type="text" placeholder="当前有18573位保险精英代理人在线为您解答" />
						<input type="submit"  value=""/>
						<ul>
							<li>大家都在问:</li>
						    <li><a href="#">养老保险</a></li>
						    <li><a href="#">意外险</a></li>
						    <li><a href="#">少儿险</a></li>
						    <li><a href="#">重疾险</a></li>
						    <li><a href="#">医疗险</a></li>
						    <li><a href="#">人寿险</a></li>
						    <li><a href="#">理财险</a></li>
						    <li><a href="#">车险</a></li>
						    <li><a href="#">家财险</a></li>
						    <li><a href="#">企财险</a></li>
						    <li><a href="#">农业保险</a></li>
						    <li><a href="#">社会保险</a></li>
						    <li><a href="#">保险知识</a></li>
						</ul>
					</form>
				</div>
			</div>
		</div>

		<div id="ask-main">
			<div class="container">
				<div class="ask-main">
					<div class="ask-main-fl fl">
						<div class="ask-main-fl-title">
							<ul>
								<li class="ask-main-on">热门问题</li>
								<li>常见问题</li>
							</ul>
						</div>
						<div class="ask-main-product-wrap">
							<div class="ask-main-product ask-main-show">
								<ul>
				    				<li><a href="#">10级阵风刮落坠物砸中路人 意外险抵御无妄之.时候好交换机黄金客户减肥方法都是</a></li>
				    				<li><a href="#">10级阵风刮落坠物砸中路人 意外险抵御无妄之.时候好交换机黄金客户减肥方法都是</a></li>
				    				<li><a href="#">10级阵风刮落坠物砸中路人 意外险抵御无妄之.时候好交换机黄金客户减肥方法都是</a></li>
				    				<li><a href="#">10级阵风刮落坠物砸中路人 意外险抵御无妄之.时候好交换机黄金客户减肥方法都是</a></li>
				    				<li><a href="#">10级阵风刮落坠物砸中路人 意外险抵御无妄之.时候好交换机黄金客户减肥方法都是</a></li>
				    				<li><a href="#">10级阵风刮落坠物砸中路人 意外险抵御无妄之.时候好交换机黄金客户减肥方法都是</a></li>
				    				<li><a href="#">10级阵风刮落坠物砸中路人 意外险抵御无妄之.时候好交换机黄金客户减肥方法都是</a></li>
				    				<li><a href="#">10级阵风刮落坠物砸中路人 意外险抵御无妄之.时候好交换机黄金客户减肥方法都是</a></li>
				    				<li><a href="#">10级阵风刮落坠物砸中路人 意外险抵御无妄之.时候好交换机黄金客户减肥方法都是</a></li>
				    				<li><a href="#">10级阵风刮落坠物砸中路人 意外险抵御无妄之.时候好交换机黄金客户减肥方法都是</a></li>
				    				<li><a href="#">10级阵风刮落坠物砸中路人 意外险抵御无妄之.时候好交换机黄金客户减肥方法都是</a></li>
				    				<li><a href="#">10级阵风刮落坠物砸中路人 意外险抵御无妄之.时候好交换机黄金客户减肥方法都是</a></li>
				    				<li><a href="#">10级阵风刮落坠物砸中路人 意外险抵御无妄之.时候好交换机黄金客户减肥方法都是</a></li>
				    				<li><a href="#">10级阵风刮落坠物砸中路人 意外险抵御无妄之.时候好交换机黄金客户减肥方法都是</a></li>
				    				<li><a href="#">10级阵风刮落坠物砸中路人 意外险抵御无妄之.时候好交换机黄金客户减肥方法都是</a></li>
				    				<li><a href="#">10级阵风刮落坠物砸中路人 意外险抵御无妄之.时候好交换机黄金客户减肥方法都是</a></li>
				    				<li><a href="#">10级阵风刮落坠物砸中路人 意外险抵御无妄之.时候好交换机黄金客户减肥方法都是</a></li>
				    				<li><a href="#">10级阵风刮落坠物砸中路人 意外险抵御无妄之.时候好交换机黄金客户减肥方法都是</a></li>
				    				<li><a href="#">10级阵风刮落坠物砸中路人 意外险抵御无妄之.时候好交换机黄金客户减肥方法都是</a></li>
				    				<li><a href="#">10级阵风刮落坠物砸中路人 意外险抵御无妄之.时候好交换机黄金客户减肥方法都是</a></li>
				    				<li><a href="#">10级阵风刮落坠物砸中路人 意外险抵御无妄之.时候好交换机黄金客户减肥方法都是</a></li>
				    				<li><a href="#">10级阵风刮落坠物砸中路人 意外险抵御无妄之.时候好交换机黄金客户减肥方法都是</a></li>
				    				<li><a href="#">10级阵风刮落坠物砸中路人 意外险抵御无妄之.时候好交换机黄金客户减肥方法都是</a></li>
				    				<li><a href="#">10级阵风刮落坠物砸中路人 意外险抵御无妄之.时候好交换机黄金客户减肥方法都是</a></li>
				    			</ul>
							</div>
							<div class="ask-main-product">2</div>
						</div>
					</div>

				    <div class="ask-main-fr fr">
				    	 <!--轮播-->
					    <div class="headline-lunbo" >
		    					<div class="headlinejs" id="headlinejs">
				    				<div class="headlineimage">
				    					<img onclick="location.href='#轮播图片要跳转的地址'" src="__IMG__/answerImg/banner1.png" height="300px" width="750px">
				    					<img onclick="location.href='#轮播图片要跳转的地址'" src="__IMG__/answerImg/banner2.png" style="display: none;" height="300px" width="750px">
				    					<img onclick="location.href='#轮播图片要跳转的地址'" src="__IMG__/answerImg/banner3.png" style="display: none;" height="300px" width="750px">
				    					<img onclick="location.href='#轮播图片要跳转的地址'" src="__IMG__/answerImg/banner4.png" style="display: none;" height="300px" width="750px">
				    					<img onclick="location.href='#轮播图片要跳转的地址'" src="__IMG__/answerImg/banner5.png" style="display: none;" height="300px" width="750px">
				    				</div>
				    				<div class="headlineNav" id="headlineNav">
				    					<a class="trigger imgSelected" href="javascript:void(0)"></a>
										<a class="trigger" href="javascript:void(0)"></a>
										<a class="trigger" href="javascript:void(0)"></a>
										<a class="trigger" href="javascript:void(0)"></a>
										<a class="trigger" href="javascript:void(0)"></a>
				    				</div>
			    			   </div>
					   </div>

					   <div class="ask-professor">
					   		<div class="ask-professor-top">
								<span>保险专家在线问答</span>
								<span>选择你中意的</span>
								<!-- <span class="city">
									<input type="text" class="cityinput" id="citySelect3" value="地区"/>
								</span> -->
								<span> 换一批>> </span>
					   		</div>
					   		<div class="ask-pro-bottom">
					   			<div class="ask-pro-bot-left">
					   				<form action="" method="">
					   					<input type="text" id="city" class="insure-professor-select" placeholder="选择你所在的城市">
					   				    <select id="insure-professor-1" name="baoxian1" class="insure-professor-select" onlayoutcomplete="off">
					   				    	<option value="选择险种">选择险种</option>
					   				    	<option value="意外保险">意外保险</option>
					   				    	<option value="医疗保险">医疗保险</option>
					   				    	<option value="少儿医疗">少儿医疗</option>
					   				    	<option value="养老保险">养老保险</option>
					   				    	<option value="人寿保险">人寿保险</option>
					   				    	<option value="理财保险">理财保险</option>
					   				    	<option value="其他">其他</option>
					   				    </select>
					   				    <select id="insure-professor-2" name="baoxian2" class="insure-professor-select" onlayoutcomplete="off">
					   				    	<option value="选择险种">选择险种</option>
					   				    	<option value="意外保险">意外保险</option>
					   				    	<option value="医疗保险">医疗保险</option>
					   				    	<option value="少儿医疗">少儿医疗</option>
					   				    	<option value="养老保险">养老保险</option>
					   				    	<option value="人寿保险">人寿保险</option>
					   				    	<option value="理财保险">理财保险</option>
					   				    	<option value="其他">其他</option>
					   				    </select>
					   				    <input type="text" id="insure-professor-name" class="insure-professor-select" placeholder="输入保险精英名称">
					   				    <input type="submit" value="" class="insure-professor-select  insure-professor-submit">
					   				</form>
					   			</div>
					   			<div class="ask-pro-bot-right">
					   				<!--数据一-->
					   			 	<div class="professor-specific">
					   			 		<div class="professor-specific-img">
													<img src="__IMG__/answerImg/agent.png" height="67" width="57"/>
							 	        </div>
							 	        <div class="professor-specific-main">
							 	        	<p>
							 	        		<span>林巧梅</span>
							 	        		<span class="xx">
							 	        			<img src="__IMG__/askImg/xx.png" height="12" width="12"/>
							 	        			<img src="__IMG__/askImg/xx.png" height="12" width="12"/>
							 	        		</span>
							 	        	</p>
							 	        	<p>13111111111</p>
							 	        	<p>福建 厦门</p>
							 	        	<button class="button-qq">
							 	        		<a href="tencent://message/?uin=43299649&Site=&Menu=yes"></a>
							 	        	</button>
							 	        </div>
					   			 	</div>
					   			 	<!--数据二-->
					   			 	<div class="professor-specific">
					   			 		<div class="professor-specific-img">
												<img src="__IMG__/answerImg/agent.png" height="67" width="57"/>

							 	        </div>
							 	        <div class="professor-specific-main">
							 	        	<p>
							 	        		<span>林巧梅</span>
							 	        		<span class="xx">
							 	        			<img src="__IMG__/askImg/xx.png" height="12" width="12"/>
							 	        			<img src="__IMG__/askImg/xx.png" height="12" width="12"/>
							 	        		</span>
							 	        	</p>
							 	        	<p>13111111111</p>
							 	        	<p>福建 厦门</p>
							 	        	<button class="button-qq">
							 	        		<a href="tencent://message/?uin=43299649&Site=&Menu=yes"></a>
							 	        	</button>
							 	        </div>
					   			 	</div>
					   			 	<!--数据三-->
					   			 	<div class="professor-specific">
					   			 		<div class="professor-specific-img">
													<img src="__IMG__/answerImg/agent.png" height="67" width="57"/>

							 	        </div>
							 	        <div class="professor-specific-main">
							 	        	<p>
							 	        		<span>林巧梅</span>
							 	        		<span class="xx">
							 	        			<img src="__IMG__/askImg/xx.png" height="12" width="12"/>
							 	        			<img src="__IMG__/askImg/xx.png" height="12" width="12"/>
							 	        		</span>
							 	        	</p>
							 	        	<p>13111111111</p>
							 	        	<p>福建 厦门</p>
							 	        	<button class="button-qq">
							 	        		<a href="tencent://message/?uin=43299649&Site=&Menu=yes"></a>
							 	        	</button>
							 	        </div>
					   			 	</div>
					   			 	<!--数据四-->
					   			 	<div class="professor-specific">
					   			 		<div class="professor-specific-img">
													<img src="__IMG__/answerImg/agent.png" height="67" width="57"/>

							 	        </div>
							 	        <div class="professor-specific-main">
							 	        	<p>
							 	        		<span>林巧梅</span>
							 	        		<span class="xx">
							 	        			<img src="__IMG__/askImg/xx.png" height="12" width="12"/>
							 	        			<img src="__IMG__/askImg/xx.png" height="12" width="12"/>
							 	        		</span>
							 	        	</p>
							 	        	<p>13111111111</p>
							 	        	<p>福建 厦门</p>
							 	        	<button class="button-qq">
							 	        		<a href="tencent://message/?uin=43299649&Site=&Menu=yes"></a>
							 	        	</button>
							 	        </div>
					   			 	</div>

					   			</div>
					   		</div>
					   </div>
				   </div>
				</div>
			</div>
		</div>

	    <div id="answer-problem">
	    	<div class="container">
	    			<div class="answer1">
	    				 		<div class="answer1-1 fl">
	    				 			<div class="answer-1-1">
	    				 			<img src="__IMG__/answerImg/g7.png" height="104" width="104">

	    				 				<div class="answer-blank">
	    				 					林
	    				 				</div>
	    				 			</div>
	    				 		 <p>安徽 六安</p>
	    				 		</div>

	    				 		<div class="answer1-2 fl">
	    				 			<p>保险等待期生病住院是否影响后期理赔？</p>

	    				 		</div>

	    				 		<div class="answer1-4 fr">
	    				 			<a href="#">回答</a>
	    				        </div>

	    		    </div>
	    	</div>
	    </div>

	    <div id="ad">
	    	<div class="container">
	    		<div class="ad">

	    		</div>
	    	</div>
	    </div>

	    <div id="answer">
	    	<div class="container">
	    		<div class="answer">
	    			<div  class="answer-top">
	    				<ul>
	    					<li class="answer-on">全部回答<span>（200）</span></li>
	    					<li>保险方案（10）</li>
	    				</ul>
	    			</div>

	    			<div class="answer-product-wrap">
	    				 <div class="answer-product show">
	    				 	<!--回答一-->
	    				 	<!--回答一-->
	    				 	<div class="answer-problem">
	    				 		<div class="answer-avatar fl" >
	    				 			<img src="__IMG__/answerImg/p1.png"   height="130" width="130">
	    				 			<span>向TA提问</span>
	    				 		</div>

	    				 		<div class="answer-name fl">邓小超</div>
	    				 		<div class="answer-problem-main fl">
	    				 			<p>18198778888</p>
	    				 			<p>你可以考虑一下常青树全能版：【王者风范/耀世而来】</p>
	    				 		    <p>超强保障：100种重疾+50种轻症，保障范围创市场新高；</p>
	    				 		    <p>80岁返本：80周岁生存，给付已交保费，有病治病，无病养老；</p>
	    				 		    <p>豁免保费：自带被保险人轻症豁免保费，另可附加投保人身故/全残/重疾/轻 症豁免后期保费保险；</p>
                                    <p>百万医疗：完美搭配百万医疗医保通，支付紧急医疗费用，为家庭筑起防护堡垒；</p>
	    				 		    <p>重疾绿通：专家门诊/专家手术/专家病房/关爱回访/关爱复诊/交通住宿补贴/海外转诊/康复热线，畅享顶级医疗服务。</p>
	    				 		    <p>常青树全能版完美的产品，需要的亲，这次，不要错过哦。</p>
	    				 		    <p>回答时间： <span>2017/8/4 17:57:50</span></p>
	    				 		    <div class="enjoy">
	    				 		    	<!-- JiaThis Button BEGIN -->
										<div class="jiathis_style_24x24">
											<a class="jiathis_button_qzone"></a>
											<a class="jiathis_button_tsina"></a>
											<a class="jiathis_button_tqq"></a>
											<a class="jiathis_button_weixin"></a>
											<a class="jiathis_button_renren"></a>
											<a href="http://www.jiathis.com/share" class="jiathis jiathis_txt jtico jtico_jiathis" target="_blank"></a>
										</div>

								<!-- JiaThis Button END -->
	    				 		    </div>
	    				 		    <div class="if-help">
	    				 		    	有帮助<br><span>15</span>
	    				 		    </div>
	    				 		</div>
	    				 	</div>

	    				 	<!--回答2-->
	    				 	<div class="answer-problem">
	    				 		<div class="answer-avatar fl" >
	    				 			<img src="__IMG__/answerImg/p1.png"   height="130" width="130">
	    				 			<span>向TA提问</span>
	    				 		</div>

	    				 		<div class="answer-name fl">邓小超</div>
	    				 		<div class="answer-problem-main fl">
	    				 			<p>18198778888</p>
	    				 			<p>你可以考虑一下常青树全能版：【王者风范/耀世而来】</p>
	    				 		    <p>超强保障：100种重疾+50种轻症，保障范围创市场新高；</p>
	    				 		    <p>80岁返本：80周岁生存，给付已交保费，有病治病，无病养老；</p>
	    				 		    <p>豁免保费：自带被保险人轻症豁免保费，另可附加投保人身故/全残/重疾/轻 症豁免后期保费保险；</p>
                                    <p>百万医疗：完美搭配百万医疗医保通，支付紧急医疗费用，为家庭筑起防护堡垒；</p>
	    				 		    <p>重疾绿通：专家门诊/专家手术/专家病房/关爱回访/关爱复诊/交通住宿补贴/海外转诊/康复热线，畅享顶级医疗服务。</p>
	    				 		    <p>常青树全能版完美的产品，需要的亲，这次，不要错过哦。</p>
	    				 		    <p>回答时间： <span>2017/8/4 17:57:50</span></p>
	    				 		    <div class="enjoy">
	    				 		    	<!-- JiaThis Button BEGIN -->
										<div class="jiathis_style_24x24">
											<a class="jiathis_button_qzone"></a>
											<a class="jiathis_button_tsina"></a>
											<a class="jiathis_button_tqq"></a>
											<a class="jiathis_button_weixin"></a>
											<a class="jiathis_button_renren"></a>
											<a href="http://www.jiathis.com/share" class="jiathis jiathis_txt jtico jtico_jiathis" target="_blank"></a>
										</div>

								<!-- JiaThis Button END -->
	    				 		    </div>
	    				 		    <div class="if-help">
	    				 		    	有帮助<br><span>15</span>
	    				 		    </div>
	    				 		</div>
	    				 	</div>

                            <!--回答3-->
	    				 	<div class="answer-problem">
	    				 		<div class="answer-avatar fl" >
	    				 			<img src="__IMG__/answerImg/p1.png"   height="130" width="130">
	    				 			<span>向TA提问</span>
	    				 		</div>

	    				 		<div class="answer-name fl">邓小超</div>
	    				 		<div class="answer-problem-main fl">
	    				 			<p>18198778888</p>
	    				 			<p>你可以考虑一下常青树全能版：【王者风范/耀世而来】</p>
	    				 		    <p>超强保障：100种重疾+50种轻症，保障范围创市场新高；</p>
	    				 		    <p>80岁返本：80周岁生存，给付已交保费，有病治病，无病养老；</p>
	    				 		    <p>豁免保费：自带被保险人轻症豁免保费，另可附加投保人身故/全残/重疾/轻 症豁免后期保费保险；</p>
                                    <p>百万医疗：完美搭配百万医疗医保通，支付紧急医疗费用，为家庭筑起防护堡垒；</p>
	    				 		    <p>重疾绿通：专家门诊/专家手术/专家病房/关爱回访/关爱复诊/交通住宿补贴/海外转诊/康复热线，畅享顶级医疗服务。</p>
	    				 		    <p>常青树全能版完美的产品，需要的亲，这次，不要错过哦。</p>
	    				 		    <p>回答时间： <span>2017/8/4 17:57:50</span></p>
	    				 		    <div class="enjoy">
	    				 		    	<!-- JiaThis Button BEGIN -->
										<div class="jiathis_style_24x24">
											<a class="jiathis_button_qzone"></a>
											<a class="jiathis_button_tsina"></a>
											<a class="jiathis_button_tqq"></a>
											<a class="jiathis_button_weixin"></a>
											<a class="jiathis_button_renren"></a>
											<a href="http://www.jiathis.com/share" class="jiathis jiathis_txt jtico jtico_jiathis" target="_blank"></a>
										</div>

								<!-- JiaThis Button END -->
	    				 		    </div>
	    				 		    <div class="if-help">
	    				 		    	有帮助<br><span>15</span>
	    				 		    </div>
	    				 		</div>
	    				 	</div>
                            <!--回答4-->
	    				 	<div class="answer-problem">
	    				 		<div class="answer-avatar fl" >
	    				 			<img src="__IMG__/answerImg/p1.png"   height="130" width="130">
	    				 			<span>向TA提问</span>
	    				 		</div>

	    				 		<div class="answer-name fl">邓小超</div>
	    				 		<div class="answer-problem-main fl">
	    				 			<p>18198778888</p>
	    				 			<p>你可以考虑一下常青树全能版：【王者风范/耀世而来】</p>
	    				 		    <p>超强保障：100种重疾+50种轻症，保障范围创市场新高；</p>
	    				 		    <p>80岁返本：80周岁生存，给付已交保费，有病治病，无病养老；</p>
	    				 		    <p>豁免保费：自带被保险人轻症豁免保费，另可附加投保人身故/全残/重疾/轻 症豁免后期保费保险；</p>
                                    <p>百万医疗：完美搭配百万医疗医保通，支付紧急医疗费用，为家庭筑起防护堡垒；</p>
	    				 		    <p>重疾绿通：专家门诊/专家手术/专家病房/关爱回访/关爱复诊/交通住宿补贴/海外转诊/康复热线，畅享顶级医疗服务。</p>
	    				 		    <p>常青树全能版完美的产品，需要的亲，这次，不要错过哦。</p>
	    				 		    <p>回答时间： <span>2017/8/4 17:57:50</span></p>
	    				 		    <div class="enjoy">
	    				 		    	<<!-- JiaThis Button BEGIN -->
										<div class="jiathis_style_24x24">
											<a class="jiathis_button_qzone"></a>
											<a class="jiathis_button_tsina"></a>
											<a class="jiathis_button_tqq"></a>
											<a class="jiathis_button_weixin"></a>
											<a class="jiathis_button_renren"></a>
											<a href="http://www.jiathis.com/share" class="jiathis jiathis_txt jtico jtico_jiathis" target="_blank"></a>
										</div>

								<!-- JiaThis Button END -->
	    				 		    </div>
	    				 		    <div class="if-help">
	    				 		    	有帮助<br><span>15</span>
	    				 		    </div>
	    				 		</div>
	    				 	</div>
                            <!--1,2,3,4,5,6-->
	    				    <div class="answer-list">
		    					<a href="javascript:void(0)" class="answer-list-on" >首页</a>
		    					<a href="javascript:void(0)">1</a>
		    					<a href="javascript:void(0)">2</a>
		    					<a href="javascript:void(0)">3</a>
		    					<a href="javascript:void(0)">4</a>
		    					<a href="javascript:void(0)">尾页</a>
	    			        </div>


	    				 </div>

	    				 <div class="answer-product">
	    				 	<!--保险方案一-->
	    				 	<div class="main-bt-left">

		    				    <div class="main-bt-left-1 fl">
			    					<p><img src="__IMG__/answerImg/p1.png"></p>
			    					<p>由保险代理人&nbsp;<span>于冰华</span>&nbsp;设计</p>
			    					<p>
			    						<span>福建</span>
			    						<span>厦门</span>
			    						<span>泰康人寿</span>
			    					</p>
			    				    <p>经保监会认证</p>
		    				    </div>

		    				    <div class="main-bt-left-2 fl">
		    				   		<p>泰康全能保，全能保幸福</p>
		    				   		<p>最高保额: <span>4000000.00</span></p>
									<p>年       缴 : <span>4920.00元</span></p>
									<p>投保对象 :
										<span>24岁 </span>
										<span>男 </span>
										<span>出差</span>
									</p>
									<p>侧重险种 : <span>意外险</span></p>
		    				   		<p>推荐理由：全面解决所有意外问题，一个产品涵盖所有，全能保，保全能。</p>
		    				   		<p>
		    				   			<span>一般意外身故或者高残保险金<br>40万</span>
		    				   			<span>重大疾病保险金<br>20万</span>
		    				   			<span>一般身故或高残保险金<br>103320</span>
		    				   			<span>重大疾病意外身故或高残保险金<br>20万</span>
		    				   		</p>
		    				   		<p>
		    				   			<a href="#">我要购买</a>
		    				   			<a href="#">立即投保</a>
		    				   		</p>
		    				   		<p>
		    				   			<a href="#">结果不满意，马上定制专属你的保险计划>></a>
		    				   		</p>
		    				    </div>

	    				   </div>
	    				    <!--保险方案2-->
	    				    <div class="main-bt-left">
		    				    <div class="main-bt-left-1 fl">
			    					<p><img src="__IMG__/answerImg/p1.png"></p>
			    					<p>由保险代理人&nbsp;<span>于冰华</span>&nbsp;设计</p>
			    					<p>
			    						<span>福建</span>
			    						<span>厦门</span>
			    						<span>泰康人寿</span>
			    					</p>
			    				    <p>经保监会认证</p>
		    				    </div>

		    				    <div class="main-bt-left-2 fl">
		    				   		<p>泰康全能保，全能保幸福</p>
		    				   		<p>最高保额: <span>4000000.00</span></p>
									<p>年       缴 : <span>4920.00元</span></p>
									<p>投保对象 :
										<span>24岁 </span>
										<span>男 </span>
										<span>出差</span>
									</p>
									<p>侧重险种 : <span>意外险</span></p>
		    				   		<p>推荐理由：全面解决所有意外问题，一个产品涵盖所有，全能保，保全能。</p>
		    				   		<p>
		    				   			<span>一般意外身故或者高残保险金<br>40万</span>
		    				   			<span>重大疾病保险金<br>20万</span>
		    				   			<span>一般身故或高残保险金<br>103320</span>
		    				   			<span>重大疾病意外身故或高残保险金<br>20万</span>
		    				   		</p>
		    				   		<p>
		    				   			<a href="#">我要购买</a>
		    				   			<a href="#">立即投保</a>
		    				   		</p>
		    				   		<p>
		    				   			<a href="#">结果不满意，马上定制专属你的保险计划>></a>
		    				   		</p>
		    				    </div>

	    				    </div>
	    				    <!--保险方案3-->
	    				    <div class="main-bt-left">
		    				    <div class="main-bt-left-1 fl">
			    					<p><img src="__IMG__/answerImg/p1.png"></p>
			    					<p>由保险代理人&nbsp;<span>于冰华</span>&nbsp;设计</p>
			    					<p>
			    						<span>福建</span>
			    						<span>厦门</span>
			    						<span>泰康人寿</span>
			    					</p>
			    				    <p>经保监会认证</p>
		    				    </div>

		    				    <div class="main-bt-left-2 fl">
		    				   		<p>泰康全能保，全能保幸福</p>
		    				   		<p>最高保额: <span>4000000.00</span></p>
									<p>年       缴 : <span>4920.00元</span></p>
									<p>投保对象 :
										<span>24岁 </span>
										<span>男 </span>
										<span>出差</span>
									</p>
									<p>侧重险种 : <span>意外险</span></p>
		    				   		<p>推荐理由：全面解决所有意外问题，一个产品涵盖所有，全能保，保全能。</p>
		    				   		<p>
		    				   			<span>一般意外身故或者高残保险金<br>40万</span>
		    				   			<span>重大疾病保险金<br>20万</span>
		    				   			<span>一般身故或高残保险金<br>103320</span>
		    				   			<span>重大疾病意外身故或高残保险金<br>20万</span>
		    				   		</p>
		    				   		<p>
		    				   			<a href="#">我要购买</a>
		    				   			<a href="#">立即投保</a>
		    				   		</p>
		    				   		<p>
		    				   			<a href="#">结果不满意，马上定制专属你的保险计划>></a>
		    				   		</p>
		    				    </div>

	    				    </div>

	    				     <!--保障-->
	    				    <div class="guarantee">
				    			<div class="guarantee-top">
				    				<span>提供保障</span>
				    				<span>查看单个产品的保险责任>></span>
				    			</div>

				    			<table width="1110" border="0" cellpadding="0" cellspacing="0">
								  <tbody>
								    <tr>
								      <th width="230" height="70" scope="col">保险责任 </th>
								      <th width="232" scope="col"> 最高保额（元）</th>
								      <th width="662" colspan="2" scope="col">说明 </th>
								    </tr>
								    <tr>
								      <td height="67">一般身故或高残保险金 </td>
								      <td> 103320</td>
								      <td colspan="1">合同生效起180 日内，非因意外伤害导致身故或高残，我们给付一般身故保险金，其数额等于您累计已交纳的合同保险费数额（不计息）的105%，合同终止。 </td>
								    </tr>
								    <tr>
								      <td height="95">重大疾病意外身故或高残保险金 </td>
								      <td> 20万</td>
								      <td colspan="1">因合同所约定的8 种重大自然灾害遭受意外伤害事故日起180 日内身故或高残，我们向身故保险金受益人给付重大自然灾害意外保险金，合同终止。重大 自然灾害意外身故保险金的数额为合同的保险金额的5 倍。 </td>
								    </tr>
								    <tr>
								      <td height="66">重大疾病保险金 </td>
								      <td> 20万</td>
								      <td colspan="1">若在合同生效180天内确诊合同定义重疾我们按已交保费的105%给付保险金。 若在合同生效180天后确诊合同定义的重疾我们按基本保额给付保险金。 </td>
								    </tr>
								    <tr>
								      <td height="66">一般意外身故或者高残保险金 </td>
								      <td>40万 </td>
								      <td colspan="1">若遭受意外伤害事故起180 日内身故或高残，我们给付一般意外身故保险金，合同终止。一般意外身故保险金的数额为合同的保险金额的2 倍。 </td>
								    </tr>
								    <tr>
								      <td height="155">自驾车意外身故或者高残保险金 </td>
								      <td>200万 </td>
								      <td colspan="1">交通工具意外身故或者交通工具意外高残保险金的数额约定如下： （1） 若身故或者高残时未满75 周岁，交通工具意外身故或者交通工 具意外高残保险金的数额为本合同的保险金额的10 倍； （2） 若身故或者高残时年满75 周岁（含75 周岁），交通工具意外身故或者交通工具意外高残保险金的数额为合同的保险金额的5 倍。 </td>
								    </tr>
								    <tr>
								      <td height="115">航空意外身故或者高残保险金 </td>
								      <td> 400万</td>
								      <td colspan="1">交通工具意外身故或者交通工具意外高残保险金的数额约定如下： （1） 若身故或者高残时未满75 周岁，交通工具意外身故或者交通工 具意外高残保险金的数额为本合同的保险金额的10 倍； （2） 若身故或者高残时年满75 周岁（含75 周岁），交通工具意外身故或者交通工具意外高残保险金的数额为合同的保险金额的5 倍。 </td>
								    </tr>
								    <tr>
								      <td height="116">交通工具意外身故或者高残保险金 </td>
								      <td>200万 </td>
								      <td colspan="1">交通工具意外身故或者交通工具意外高残保险金的数额约定如下： （1） 若身故或者高残时未满75 周岁，交通工具意外身故或者交通工 具意外高残保险金的数额为本合同的保险金额的10 倍； （2） 若身故或者高残时年满75 周岁（含75 周岁），交通工具意外身故或者交通工具意外高残保险金的数额为合同的保险金额的5 倍。 </td>
								    </tr>
								    <tr>
								      <td height="74"> 生存保险金</td>
								      <td>98400 </td>
								      <td colspan="1">若在合同保险期间届满时仍然生存，我们按您累计已交纳的合同保险费数额（不计息）给付生存保险金，合同终止。 </td>
								    </tr>
								  </tbody>
								</table>

				    			<p>包含产品:</p>

				    			<div class="table1">
				    				<table width="1110" border="0" cellpadding="0" cellspacing="0">
										  <tbody>
										    <tr>
										      <th width="279" height="40" scope="col">险种产品 </th>
										      <th width="279" scope="col">保险期限 </th>
										      <th width="279" scope="col">缴费期限 </th>
										      <th width="286" scope="col">年缴保费（元） </th>
										    </tr>
										    <tr>
										      <td height="40">泰康全能保保障计划2015 </td>
										      <td>80岁 </td>
										      <td>20年 </td>
										      <td>4920元 </td>
										    </tr>
										  </tbody>
										</table>
				    			</div>

				    			<p>泰康全能保:</p>

				    			<p>涵盖航空，交通，重灾，一般意外，重疾，一般身故等意外风险，满期返本。<br>保障全面，额度高，满期平安无事，返还所有保费。</p>
				    			<p><a href="#">立即投保></a></p>

				    		</div>
	    				    <!--1,2,3,4,5,6-->
	    				    <div class="answer-list">
		    					<a href="javascript:void(0)" class="answer-list-on" >首页</a>
		    					<a href="javascript:void(0)">1</a>
		    					<a href="javascript:void(0)">2</a>
		    					<a href="javascript:void(0)">3</a>
		    					<a href="javascript:void(0)">4</a>
		    					<a href="javascript:void(0)">尾页</a>
	    			        </div>
	    				 </div>
	    				 <!--product2结束-->


	    			</div>

	    		</div>
	    	</div>
	    </div>
	    <div class="mask"></div>
	    <div id="ask-problem">
	    	<div class="container">
	    		<div class="ask-problem">
	    			<div class="ask-top">
	    			   <span>最专业的保险咨询平台</span>
	    			   <span id="close1"></span>
	    			</div>
	    			<div class="trans">
	    			<div class="translation fl">
	    			  <div class="translation-top">
	    				<span>向TA提问</span>
	    				<span><b>183498</b>保险专家为您在线解答</span>
	    			  </div>
	    			  <div class="translation-main">
	    			  	 <p>
	    			  	 	<span>
	    			  	 		<b class="xin">*</b>
	    			  	 		标题：
	    			  	 	</span>
	    			  	 	<input type="text" placeholder="标题"></p>
	    			  	 <p>
	    			  	 	<span>
	    			  	 		<b class="xin">*</b>
	    			  	 		内容：
	    			  	 	</span>
	    			  	 	<textarea placeholder="内容区域"></textarea></p>
	    			  </div>
	    			</div>
	    		    <div class="translation1 fr">
	    		    	<p><img src="__IMG__/answerImg/ad-pro-1.jpg" height="200" width="200"></p>
	    		    	<p>罗世德</p>
	    		    	<p>12228775555</p>
	    		    	<p>
	    		    		<span>四川</span>
	    		    		<span>成都</span>
	    		    		<span>大通保险销售</span>
	    		    	</p>
	    		    	<p>回答总数:<span>1287</span> &nbsp;&nbsp;
	    		    	        被赞总数：<span>33</span></p>
	    		    </div>
	    		    </div>
	    		    <div class="translation2">
	    		    	<input type="submit"  value="提交"/>
	    		    </div>
	    		</div>
	    	</div>
	    </div>

{/block}
{block name='script'}
	<script type="text/javascript" src="__JS__/main.js" ></script>
	<script type="text/javascript" src="__JS__/cityJson.js" ></script>
	<script type="text/javascript" src="__JS__/sanjiliantong.js" ></script>
	<script type="text/javascript" src="http://v3.jiathis.com/code/jia.js" charset="utf-8"></script>
{/block}