{extend name="public/base" /}
{block name="style"}
		<link rel="stylesheet" href="__CSS__/ask.css" />
{/block}
{block name="body"}
		<div id="ask-search">
			<div class="container">
				<div class="ask-search">
					<form>
						<input type="text" placeholder="当前有18573位保险精英代理人在线为您解答" />
						<input type="submit"  value=""/>
						<ul>
							<li>大家都在问:</li>
						    <li><a href="#">养老保险</a></li>
						    <li><a href="#">意外险</a></li>
						    <li><a href="#">少儿险</a></li>
						    <li><a href="#">重疾险</a></li>
						    <li><a href="#">医疗险</a></li>
						    <li><a href="#">人寿险</a></li>
						    <li><a href="#">理财险</a></li>
						    <li><a href="#">车险</a></li>
						    <li><a href="#">家财险</a></li>
						    <li><a href="#">企财险</a></li>
						    <li><a href="#">农业保险</a></li>
						    <li><a href="#">社会保险</a></li>
						    <li><a href="#">保险知识</a></li>
						</ul>
					</form>
				</div>
			</div>
		</div>

		<div id="ask-main">
			<div class="container">
				<div class="ask-main">
					<div class="ask-main-fl fl">
						<div class="ask-main-fl-title">
							<ul>
								<li class="ask-main-on">热门问题</li>
								<li>常见问题</li>
							</ul>
						</div>
						<div class="ask-main-product-wrap">
							<div class="ask-main-product ask-main-show">
								<ul>
				    				<li><a href="#">10级阵风刮落坠物砸中路人 意外险抵御无妄之.时候好交换机黄金客户减肥方法都是</a></li>
				    				<li><a href="#">10级阵风刮落坠物砸中路人 意外险抵御无妄之.时候好交换机黄金客户减肥方法都是</a></li>
				    				<li><a href="#">10级阵风刮落坠物砸中路人 意外险抵御无妄之.时候好交换机黄金客户减肥方法都是</a></li>
				    				<li><a href="#">10级阵风刮落坠物砸中路人 意外险抵御无妄之.时候好交换机黄金客户减肥方法都是</a></li>
				    				<li><a href="#">10级阵风刮落坠物砸中路人 意外险抵御无妄之.时候好交换机黄金客户减肥方法都是</a></li>
				    				<li><a href="#">10级阵风刮落坠物砸中路人 意外险抵御无妄之.时候好交换机黄金客户减肥方法都是</a></li>
				    				<li><a href="#">10级阵风刮落坠物砸中路人 意外险抵御无妄之.时候好交换机黄金客户减肥方法都是</a></li>
				    				<li><a href="#">10级阵风刮落坠物砸中路人 意外险抵御无妄之.时候好交换机黄金客户减肥方法都是</a></li>
				    				<li><a href="#">10级阵风刮落坠物砸中路人 意外险抵御无妄之.时候好交换机黄金客户减肥方法都是</a></li>
				    				<li><a href="#">10级阵风刮落坠物砸中路人 意外险抵御无妄之.时候好交换机黄金客户减肥方法都是</a></li>
				    				<li><a href="#">10级阵风刮落坠物砸中路人 意外险抵御无妄之.时候好交换机黄金客户减肥方法都是</a></li>
				    				<li><a href="#">10级阵风刮落坠物砸中路人 意外险抵御无妄之.时候好交换机黄金客户减肥方法都是</a></li>
				    				<li><a href="#">10级阵风刮落坠物砸中路人 意外险抵御无妄之.时候好交换机黄金客户减肥方法都是</a></li>
				    				<li><a href="#">10级阵风刮落坠物砸中路人 意外险抵御无妄之.时候好交换机黄金客户减肥方法都是</a></li>
				    				<li><a href="#">10级阵风刮落坠物砸中路人 意外险抵御无妄之.时候好交换机黄金客户减肥方法都是</a></li>
				    				<li><a href="#">10级阵风刮落坠物砸中路人 意外险抵御无妄之.时候好交换机黄金客户减肥方法都是</a></li>
				    				<li><a href="#">10级阵风刮落坠物砸中路人 意外险抵御无妄之.时候好交换机黄金客户减肥方法都是</a></li>
				    				<li><a href="#">10级阵风刮落坠物砸中路人 意外险抵御无妄之.时候好交换机黄金客户减肥方法都是</a></li>
				    				<li><a href="#">10级阵风刮落坠物砸中路人 意外险抵御无妄之.时候好交换机黄金客户减肥方法都是</a></li>
				    				<li><a href="#">10级阵风刮落坠物砸中路人 意外险抵御无妄之.时候好交换机黄金客户减肥方法都是</a></li>
				    				<li><a href="#">10级阵风刮落坠物砸中路人 意外险抵御无妄之.时候好交换机黄金客户减肥方法都是</a></li>
				    				<li><a href="#">10级阵风刮落坠物砸中路人 意外险抵御无妄之.时候好交换机黄金客户减肥方法都是</a></li>
				    				<li><a href="#">10级阵风刮落坠物砸中路人 意外险抵御无妄之.时候好交换机黄金客户减肥方法都是</a></li>
				    				<li><a href="#">10级阵风刮落坠物砸中路人 意外险抵御无妄之.时候好交换机黄金客户减肥方法都是</a></li>
				    			</ul>
							</div>
							<div class="ask-main-product">2</div>
						</div>
					</div>

				    <div class="ask-main-fr fr">
				    	 <!--轮播-->
					    <div class="headline-lunbo" >
		    					<div class="headlinejs" id="headlinejs">
				    				<div class="headlineimage">
				    					<img onclick="location.href='#'"  src="__IMG__/askImg/banner1.png" height="300px" width="750px">
				    					<img onclick="location.href='#'"  src="__IMG__/askImg/banner2.png" style="display: none;" height="300px" width="750px">
				    					<img onclick="location.href='#'"  src="__IMG__/askImg/banner3.png" style="display: none;" height="300px" width="750px">
				    					<img onclick="location.href='#'"  src="__IMG__/askImg/banner4.png" style="display: none;" height="300px" width="750px">
				    					<img onclick="location.href='#'"  src="__IMG__/askImg/banner5.png" style="display: none;" height="300px" width="750px">
				    				</div>
				    				<div class="headlineNav" id="headlineNav">
				    					<a class="trigger imgSelected" href="javascript:void(0)"></a>
										<a class="trigger" href="javascript:void(0)"></a>
										<a class="trigger" href="javascript:void(0)"></a>
										<a class="trigger" href="javascript:void(0)"></a>
										<a class="trigger" href="javascript:void(0)"></a>
				    				</div>
			    			   </div>
					   </div>

					   <div class="ask-professor">
					   		<div class="ask-professor-top">
								<span>保险专家在线问答</span>
								<!--<span>选择你中意的</span>-->
								<span class="city">
									<input type="text" class="cityinput" id="citySelect3" value="地区"/>
								</span>
								<span> 换一批>> </span>
					   		</div>
					   		<div class="ask-pro-bottom">
					   			<div class="ask-pro-bot-left">
					   				<form action="" method="">
					   					<input type="text" id="city" class="insure-professor-select" placeholder="选择你所在的城市">
					   				    <select id="insure-professor-1" name="baoxian1" class="insure-professor-select" onlayoutcomplete="off">
					   				    	<option value="选择险种">选择险种</option>
					   				    	<option value="意外保险">意外保险</option>
					   				    	<option value="医疗保险">医疗保险</option>
					   				    	<option value="少儿医疗">少儿医疗</option>
					   				    	<option value="养老保险">养老保险</option>
					   				    	<option value="人寿保险">人寿保险</option>
					   				    	<option value="理财保险">理财保险</option>
					   				    	<option value="其他">其他</option>
					   				    </select>
					   				    <select id="insure-professor-2" name="baoxian2" class="insure-professor-select" onlayoutcomplete="off">
					   				    	<option value="选择险种">选择险种</option>
					   				    	<option value="意外保险">意外保险</option>
					   				    	<option value="医疗保险">医疗保险</option>
					   				    	<option value="少儿医疗">少儿医疗</option>
					   				    	<option value="养老保险">养老保险</option>
					   				    	<option value="人寿保险">人寿保险</option>
					   				    	<option value="理财保险">理财保险</option>
					   				    	<option value="其他">其他</option>
					   				    </select>
					   				    <input type="text" id="insure-professor-name" class="insure-professor-select" placeholder="输入保险精英名称">
					   				    <input type="submit" value="" class="insure-professor-select  insure-professor-submit">
					   				</form>
					   			</div>
					   			<div class="ask-pro-bot-right">
					   				<!--数据一-->
					   			 	<div class="professor-specific">
					   			 		<div class="professor-specific-img">
											<img src="__IMG__/askImg/ask_p.png" height="67" width="57"/>
							 	        </div>
							 	        <div class="professor-specific-main">
							 	        	<p>
							 	        		<span>林巧梅</span>
							 	        		<span class="xx">
							 	        			<img src="__IMG__/askImg/xx.png" height="12" width="12"/>
							 	        			<img src="__IMG__/askImg/xx.png" height="12" width="12"/>
							 	        		</span>
							 	        	</p>
							 	        	<p>13111111111</p>
							 	        	<p>福建 厦门</p>
							 	        	<button class="button-qq">
							 	        		<a href="tencent://message/?uin=43299649&Site=&Menu=yes"></a>
							 	        	</button>
							 	        </div>
					   			 	</div>
					   			 	<!--数据二-->
					   			 	<div class="professor-specific">
					   			 		<div class="professor-specific-img">
											<img src="__IMG__/askImg/ask_p.png" height="67" width="57"/>
							 	        </div>
							 	        <div class="professor-specific-main">
							 	        	<p>
							 	        		<span>林巧梅</span>
							 	        		<span class="xx">
							 	        			<img src="__IMG__/askImg/xx.png" height="12" width="12"/>
							 	        			<img src="__IMG__/askImg/xx.png" height="12" width="12"/>
							 	        		</span>
							 	        	</p>
							 	        	<p>13111111111</p>
							 	        	<p>福建 厦门</p>
							 	        	<button class="button-qq">
							 	        		<a href="tencent://message/?uin=43299649&Site=&Menu=yes"></a>
							 	        	</button>
							 	        </div>
					   			 	</div>
					   			 	<!--数据三-->
					   			 	<<div class="professor-specific">
					   			 		<div class="professor-specific-img">
											<img src="__IMG__/askImg/ask_p.png" height="67" width="57"/>
							 	        </div>
							 	        <div class="professor-specific-main">
							 	        	<p>
							 	        		<span>林巧梅</span>
							 	        		<span class="xx">
							 	        			<img src="__IMG__/askImg/xx.png" height="12" width="12"/>
							 	        			<img src="__IMG__/askImg/xx.png" height="12" width="12"/>
							 	        		</span>
							 	        	</p>
							 	        	<p>13111111111</p>
							 	        	<p>福建 厦门</p>
							 	        	<button class="button-qq">
							 	        		<a href="tencent://message/?uin=43299649&Site=&Menu=yes"></a>
							 	        	</button>
							 	        </div>
					   			 	</div>
					   			 	<!--数据四-->
					   			 	<div class="professor-specific">
					   			 		<div class="professor-specific-img">
											<img src="__IMG__/askImg/ask_p.png" height="67" width="57"/>
							 	        </div>
							 	        <div class="professor-specific-main">
							 	        	<p>
							 	        		<span>林巧梅</span>
							 	        		<span class="xx">
							 	        			<img src="__IMG__/askImg/xx.png" height="12" width="12"/>
							 	        			<img src="__IMG__/askImg/xx.png" height="12" width="12"/>
							 	        		</span>
							 	        	</p>
							 	        	<p>13111111111</p>
							 	        	<p>福建 厦门</p>
							 	        	<button class="button-qq">
							 	        		<a href="tencent://message/?uin=43299649&Site=&Menu=yes"></a>
							 	        	</button>
							 	        </div>
					   			 	</div>
					   			</div>
					   		</div>
					   </div>

				   </div>

				</div>
			</div>
		</div>

	    <div id="ask-problem">
	    	<div class="container">
	    		<div class="ask-problem">
	    			<p>保险问题分类</p>
	    			<p>购买保险</p>
	    				<a href="javascript:void(0)" class="ask-problem-on">意外险</a>
	    				<a href="javascript:void(0)">少儿险</a>
	    				<a href="javascript:void(0)">养老险</a>
	    				<a href="javascript:void(0)">重疾险</a>
	    				<a href="javascript:void(0)">医疗险</a>
	    				<a href="javascript:void(0)">人寿险</a>
	    				<a href="javascript:void(0)">理财险</a>
	    				<a href="javascript:void(0)">车险</a>
	    				<a href="javascript:void(0)">家财险</a>
	    				<a href="javascript:void(0)">企财险</a>
	    				<a href="javascript:void(0)">农业保险</a>
	    			<p>保险咨询</p>
	    				<a href="javascript:void(0)v">投保理赔</a>
	    				<a href="javascript:void(0)">社会保险</a>
	    				<a href="javascript:void(0)">保险知识</a>
	    				<a href="javascript:void(0)">保险规划</a>
	    				<a href="javascript:void(0)">话题讨论</a>
	    			<p>业内咨询</p>
	    				<a href="javascript:void(0)">网络展业 </a>
	    				<a href="javascript:void(0)">考试资格</a>
	    				<a href="javascript:void(0)">早会培训</a>
	    				<a href="javascript:void(0)">职业规划</a>
	    			<p>网站相关</p>
	    				<a href="javascript:void(0)">网站公告 </a>
	    				<a href="javascript:void(0)">网站使用</a>

	    		</div>
	    	</div>
	    </div>

	    <!--回答区域-->
	    <div id="answer">
	    	<div class="container">
	    		<div class="answer">
	    			<div  class="answer-top">
	    				<ul>
	    					<li class="answer-on">大家都在问</li>
	    					<li>零回答</li>
	    					<li>待解决</li>
	    					<li>已解决</li>
	    				</ul>
	    			</div>
	    			<div class="answer-product-wrap">
	    				 <div class="answer-product show">
	    				 	<!--数据1-->
	    				 	<div class="answer1">
	    				 		<div class="answer1-1 fl">
	    				 			<div class="answer-1-1">
	    				 			<img src="__IMG__/askImg/g7.png" height="104" width="104">

	    				 				<div class="answer-blank">
	    				 					林
	    				 				</div>
	    				 			</div>
	    				 		 <p>安徽 六安</p>
	    				 		</div>

	    				 		<div class="answer1-2 fl">
	    				 			<p>保险等待期生病住院是否影响后期理赔？</p>
	    				 			<p>我想说的是平安福若是等待期发生重疾，会退保，而且是退现金价值哦，可查看合同条款.</p>
	    				 		</div>

	    				 		<div class="answer1-3 fl">
	    				 			<div class="answer1-3-1">
	    				 				<img src="__IMG__/askImg/123ceshi.jpg" height="50" width="50" style="border-radius: 50%;">
	    				 			</div>
	    				 		</div>

	    				 		<div class="answer1-4 fr">
	    				 			<a href="#">更多回答</a>
	    				 		</div>

	    				 	</div>
	    				 	<!--数据1结束-->
	    				 	<!--数据1-->
	    				 	<div class="answer1">
	    				 		<div class="answer1-1 fl">
	    				 			<div class="answer-1-1">
	    				 			<img src="__IMG__/askImg/g7.png" height="104" width="104">

	    				 				<div class="answer-blank">
	    				 					林
	    				 				</div>
	    				 			</div>
	    				 		 <p>安徽 六安</p>
	    				 		</div>

	    				 		<div class="answer1-2 fl">
	    				 			<p>保险等待期生病住院是否影响后期理赔？</p>
	    				 			<p>我想说的是平安福若是等待期发生重疾，会退保，而且是退现金价值哦，可查看合同条款.</p>
	    				 		</div>

	    				 		<div class="answer1-3 fl">
	    				 			<div class="answer1-3-1">
	    				 				<img src="__IMG__/askImg/123ceshi.jpg" height="50" width="50" style="border-radius: 50%;">
	    				 			</div>
	    				 		</div>

	    				 		<div class="answer1-4 fr">
	    				 			<a href="#">更多回答</a>
	    				 		</div>

	    				 	</div>
	    				 	<!--数据1结束-->
	    				 	<!--数据1-->
	    				 	<div class="answer1">
	    				 		<div class="answer1-1 fl">
	    				 			<div class="answer-1-1">
	    				 			<img src="__IMG__/askImg/g7.png" height="104" width="104">

	    				 				<div class="answer-blank">
	    				 					林
	    				 				</div>
	    				 			</div>
	    				 		 <p>安徽 六安</p>
	    				 		</div>

	    				 		<div class="answer1-2 fl">
	    				 			<p>保险等待期生病住院是否影响后期理赔？</p>
	    				 			<p>我想说的是平安福若是等待期发生重疾，会退保，而且是退现金价值哦，可查看合同条款.</p>
	    				 		</div>

	    				 		<div class="answer1-3 fl">
	    				 			<div class="answer1-3-1">
	    				 				<img src="__IMG__/askImg/123ceshi.jpg" height="50" width="50" style="border-radius: 50%;">
	    				 			</div>
	    				 		</div>

	    				 		<div class="answer1-4 fr">
	    				 			<a href="#">更多回答</a>
	    				 		</div>

	    				 	</div>
	    				 	<!--数据1结束-->
	    				 	<!--数据1-->
	    				 	<div class="answer1">
	    				 		<div class="answer1-1 fl">
	    				 			<div class="answer-1-1">
	    				 			<img src="__IMG__/askImg/g7.png" height="104" width="104">

	    				 				<div class="answer-blank">
	    				 					林
	    				 				</div>
	    				 			</div>
	    				 		 <p>安徽 六安</p>
	    				 		</div>

	    				 		<div class="answer1-2 fl">
	    				 			<p>保险等待期生病住院是否影响后期理赔？</p>
	    				 			<p>我想说的是平安福若是等待期发生重疾，会退保，而且是退现金价值哦，可查看合同条款.</p>
	    				 		</div>

	    				 		<div class="answer1-3 fl">
	    				 			<div class="answer1-3-1">
	    				 				<img src="__IMG__/askImg/123ceshi.jpg" height="50" width="50" style="border-radius: 50%;">
	    				 			</div>
	    				 		</div>

	    				 		<div class="answer1-4 fr">
	    				 			<a href="#">更多回答</a>
	    				 		</div>

	    				 	</div>
	    				 	<!--数据1结束-->

	    				 </div>

	    				 <div class="answer-product">2</div>
	    				 <div class="answer-product">3</div>
	    				 <div class="answer-product">4</div>
	    			</div>
	    			<div class="answer-list">
	                    <div class="fy">
							{$pager}
						</div>

	    			</div>

	    		</div>
	    	</div>
	    </div>
{/block}
{block name='script'}
<script type="text/javascript" src="__JS__/cityJson.js" ></script>
<script type="text/javascript" src="__JS__/sanjiliantong.js" ></script>
<script type="text/javascript" src="__JS__/main.js" ></script>
<script>
		window.onload=function(){
			   var test1=new Vcity.CitySelector({input:'citySelect3'});
		}
</script>
{/block}