{extend name="public/base" /}

{block name="body"}
<div>
    <header class="header-article-list">
        <h1>在线留言</h1>

    </header>
<div>
   <form class="message-form" method="post" action="">

       <label>姓名
           <input type="text" name="name">
           <span>*</span>
       </label>


       <label>手机
           <input type="text" name="mobile">
           <span>*</span>
       </label>


       <label>邮箱
           <input type="email" name="email">
           <span>*</span>
       </label>

       <label>内容
           <textarea name="message"></textarea>
           <span>*</span>
       </label>

       <label>验证码
           <input type="text" name="code"><img src="{:captcha_src()}" alt="captcha" onClick="this.src=this.src+'?'+Math.random()"/>
           <span>*</span>
       </label>

       <button type="submit" class="am-btn am-btn-danger">提交</button>
   </form>
</div>
</div>
﻿
{/block}