{extend name="public/base" /}

{block name="style"}
	<link rel="stylesheet" href="__CSS__/main.css" />
{/block}

{block name="body"}
<!--主体部分-->
<div id="main">
	<div class="container">
	   <div class="main-box">
		<!--产品列表框-->
		<div class="main-list">
			<ul class="main-list-kind1">
				<li>————<a href="#">&nbsp;人身保险&nbsp;</a>————</li>
				<li  class="border-no no1">
				{foreach $lifeInsuranceCate as $k=>$v}
					<a href="{:url('home/Insurance/index')}?personal_id={$k}">{$v}</a>
				{/foreach}
				</li>
			</ul>
			<ul class="main-list-kind2">
				<li>————<a href="#">&nbsp;财产保险&nbsp;</a>————</li>
				<li  class="border-no no2">
				{foreach $propertyInsuranceCate as $k=>$v}
					<a href="{:url('home/Insurance/index')}?property_id={$k}">{$v}</a>
				{/foreach}
				</li>
			</ul>
			<ul class="main-list-kind3">
				<li>————<a href="#">&nbsp;人险公司&nbsp;</a>————</li>
				<li class="no2">
				{foreach $lifeCompany as $k=>$v}
				<a href="{:url('home/Insurance/index')}?company_id={$k}">{$v}</a>
				{/foreach}
				<a href="{:url('home/Insurance/index')}" class="red1">更多»</a>
				</li>
			</ul>
			<ul class="main-list-kind4">
			<li>————<a href="#">&nbsp;财险公司&nbsp;</a>————</li>
				<li class="no2">
					{foreach $propertyCompany as $k=>$v}
					<a href="{:url('home/Insurance/index')}?company_id={$k}">{$v}</a>
					{/foreach}
					<a href="{:url('home/Insurance/index')}" class="red1">更多»</a>
				</li>
			</ul>
		</div>
		<!--轮播部分-->

			<div class="lunbo">
    			<!-- <a id="prev" class="prevBtn qq" href="javascript:void(0)"></a>
    			<a id="next" class="nextBtn qq" href="javascript:void(0)"></a> -->
    			<div class="lunbojs" id="lunbojs">
		    		<div class="lunboimage">
    					<!-- <img onclick="location.href='#轮播图片要跳转的地址'" src="__IMG__/index/banner1.png" width="665"  height="342">
    					<img onclick="location.href='#轮播图片要跳转的地址'" src="__IMG__/index/banner2.png" style="display: none;" width="665"  height="342"> -->
    					<img onclick="location.href='../home/message/index'" src="__IMG__/index/banner3.png"  width="665"  height="342">
    					<img onclick="location.href='../home/message/index'" src="__IMG__/index/banner4.png" style="display: none;" width="665"  height="342">
    					<img onclick="location.href='../home/message/index'" src="__IMG__/index/banner5.png" style="display: none;" width="665"  height="342">
    				</div>

    				<div class="lunboNav" id="lunboNav">
    					<a class="trigger imgSelected" href="javascript:void(0)"></a>
						<a class="trigger" href="javascript:void(0)"></a>
						<a class="trigger" href="javascript:void(0)"></a>
				<!-- 		<a class="trigger" href="javascript:void(0)"></a>
						<a class="trigger" href="javascript:void(0)"></a> -->
    				</div>
    			</div>
			   <!--轮播内部广告位置-->
    			<div class="lunbo-custom">
    				<div class="window" id="window" >
                       <a href="{:url('/home/message/index')}">
		    					   <img src="__IMG__/public/Free_Made.gif"/>
		    		   </a>
    				</div>
    			</div>
			</div>


		<!--轮播下广告位置-->
			<div class="lunbo-ad">
              	<div class="lunbo-ad-title">资深保险经理人推荐</div>
              	{foreach $seniorAgent as $row}
					<div class="lunbo-ad-1">
	                        <a href="{:url('user/Index/index',['id'=>$row.agent_id])}" target="_blank">
	                              {notempty name="$row.head_img"}
											<img src="{$row.head_img}" height="146" width="144"/>
										{else/}
											 <img src="__IMG__/index/seniorInsure_1.jpg" height="146" width="144">
								   {/notempty}
                                <div  class="lunbo-ad-text"></div>
                                <div  class="lunbo-ad-text-p">
										<p>{$row.name}　{$row.company}</p>
										<p>{$row.mobile}</p>
								</div>
							</a>
					</div>
				{/foreach}
			</div>

	  </div>
	</div>
</div>
<!-- 热门保险 hot-insure -->
<div id="hot-insure">
	<div class="container">
		<div class="hot-insure-box">
			<div class="insure-professor-box-title">
				<span class="professor">热门保险方案</span>
				<span class="hot-title">选择最适合您的</span>
			</div>
			<div class="hot-insure-main">
			{foreach $hotPlan as $row}
				<div class="hot-insure-1">
					<span class="insure-title">{$row.title}</span>
					<p>
					<span class="insure-weizhi"><img src="__IMG__/index/location.png">{$row.city_name} </span>
					<span class="insure-xianzhong"><img src="__IMG__/index/fangzi1.png">{$row.company}</span>
					</p>

					<span class="insuer-duixiang1">适合对象：{$row.suitable} {$row.sex_type}</span>
					<span class="insuer-duixiang2">保障需求：{$row.categoies_title}</span>
					<div class="insuer-lanse">
						{$row.reason}
					</div>
					<div class="insuer-baofei">
						<div class="nian1">
							<span class="nian-fei-jiaqian">{$row.max}</span>
							<span class="nian-fei-title">最高保额</span>
						</div>
						<div class="nian2">
							<span class="nian-fei-jiaqian">{$row.pay_year}</span>
							<span class="nian-fei-title">年缴保费</span>
						</div>
					</div>
						<a href="{:url('Insurance/planDetail', ['plan_id'=>$row.plan_id])}" class="xiangqingaa"><input type="button" value="" class="insure-button" /></a>
				</div>
			{/foreach}
			</div>
		</div>
	</div>
</div>
<!-- 保险专家  insuer-professor-->
<div id="insure-professor">
	<div class="container">
		<div class="insure-professor-box">
			<div class="insure-professor-box-title">
				<span class="professor">保险专家</span>
				<span class="hot-title">{$row.city_name}</span>
				<!--<span class="city">
					<input type="text" class="cityinput" id="citySelect1" value="点击选择目的地">

				</span>-->
				<div class="insure-professor-little-t">
					 <span><a href="{:url('home/insurance/know')}">人物专访</a></span>
					 丨
					 <span><a href="{:url('home/insurance/know')}">兜兜特刊</a></span>
					 丨
					 <span><a href="{:url('home/agent/index')}">推介保险专家</a></span>
					 丨
					 <span><a href="{:url('home/agent/index')}">更多»</a></span>

				</div>

			</div>
			<div class="insure-professor-main">
				<div class="insure-professor-main-box1">
					<form action="{:url('Agent/index')}" method="GET">
					<!-- 三级联动 -->
						<select name="province_id" id="province_id" >
							<option value="0">--请选择--</option>
			                {foreach $provinces as $k=>$row}
			                    <option value="{$k}" {if condition="$k eq $areaInfo.province_id"  class="dept_select"}selected=""selected{/if}>{$row}</option>
			                {/foreach}
			            </select>
			            <select name="city_id"  id="city_id"  >
							<option value="0">--请选择--</option>
			                {foreach $cities as $k=>$row}
			                    <option value="{$row.id}" {if condition="$row.id eq $areaInfo.city_id"}selected=""selected{/if}>{$row.name}</option>
			                {/foreach}
			            </select>
			            <select name="area_id"  id="area_id"  >
							<option value="0">--请选择--</option>
			                {foreach $areas as $k=>$row}
			                    <option value="{$row.id}">{$row.name}</option>
			                {/foreach}
	                    </select>

			    		<input type="text" id="insure-professor-name" class="insure-professor-select" placeholder='输入保险精英名称' name="title" />
					    <input type="submit" value="" class="insure-professor-select  insure-professor-submit"/>
					</form>
				</div>

				<div class="insure-professor-main-box2">
				{foreach $expert as $row}
					 <div class="professor-specific">
					 	<div class="professor-specific-img">
                            <a href="{:url('user/Index/index',['id'=>$row.agent_id])}" target="_blank">
                 			  {notempty name="$row.head_img"}
								<img src="{$row.head_img}" height="100" width="100"/>
									{else/}
								<img src="__IMG__/index/insureSp.jpg" height="100" width="100">
				 			  {/notempty}
				 			</a>
					 	</div>
					 	<div class="professor-specific-main">
						 	<p>{$row.name} <!-- <span class="xx"><img src="__IMG__/index/xx.png"><img src="__IMG__/index/xx.png"></span> --></p>
						 	<p>{$row.mobile}</p>
						 	<p>{$row.province_name} {$row.city_name}</p>
						 	<p class="qqchat"><a href="tencent://message/?uin={$row.qq}&Site=&Menu=yes"></a></p>
					 	</div>
					 </div>
				{/foreach}

				</div>
			</div>
		</div>
	</div>
</div>
<!--首页横幅广告-->
<div id="index-ad">
	<div class="container">
		<div class="index-ad">
		  <a href="{:url('/home/message/index')}" target="_blank">
			<img src="__IMG__/public/ad1.png" height="130" width="1180">
		  </a>
		</div>
	</div>
</div>
<!--保险专题-->
<div id="insure-subject">
	<div class="container">
		<div class="insure-subject">
			<!--保险专题-->
			<div class="insure-subject-1">
				<div class="insure-professor-box-title">
					<span>保险专题</span>
					<span class="hot-title">Insurance project</span>
					<a href="{:url('home/insurance/know')}" class="gengduo">
						<span>更多</span>
						<span>»</span>
					</a>
				</div>
				<div class="insure-subject-1-main">
					<div class="insuerlunbo">
					{foreach $topic as $k=>$row}
						<div class="insurelb" {if $k>0}style="display: none;"{/if}>
							<div class="insuerl-top">
								<img src="__IMG__/index/projectBanner_1.png" height="160" width="358">
							</div>
							<div class="insuerl-bottom">
								<p>{$row.title}</p>
								<p><a href="{:url('home/Article/detail', ['id'=>$row.article_id])}" >{$row.desc}</a></p>
							</div>
						</div>
					{/foreach}
					</div>
					<div class="insuer-list" id="insuer-list">
						<a href="javascript:void(0)" class="insuer-trigger insuer-selected"></a>
						<a href="javascript:void(0)" class="insuer-trigger"></a>
						<a href="javascript:void(0)" class="insuer-trigger"></a>
					</div>
				</div>
			</div>
			<!--保险咨询-->
			<div class="insure-subject-2">
				<div class="insure-professor-box-title">
					<span>保险咨讯</span>
					<a href="{:url('home/insurance/know')}" class="gengduo">
						<span>更多</span>
						<span>»</span>
					</a>
					<!-- <a href="#"><input type="button" value="我要提问" class="myquestion" /></a> -->
				</div>
				<div class="insure-subject-2-main">
					<!--保险咨询下的问题1-->
					<ul class="insure-subject-2-bottom1" >
					{foreach $asks_1 as $row}
						<li>
							<div class="insure-subject-2-bottom1-left">
								<a href="{:url('Article/detail',['id'=>$row.article_id])}" title="">{$row.title}</a>
							</div>
							<div class="insure-subject-2-bottom1-date">
								{$row.like}
							</div>
						</li>
					{/foreach}

					</ul>
					<!--保险咨询下的问题2-->
					<ul class="insure-subject-2-bottom2" >
					{foreach $asks_2 as $row}
						<li>
							<div class="insure-subject-2-bottom1-left">
								<a href="{:url('Article/detail',['id'=>$row.article_id])}" title="">{$row.title}</a>
							</div>
							<div class="insure-subject-2-bottom1-date">
								{$row.like}
							</div>
						</li>
					{/foreach}

					</ul>
				</div>
			</div>
			<!--右边图片-->
			<div class="insure-subject-3">
				<div class="insure-subject-3-main">
					<!--删除文字后加图片 大小为276*223-->
					<a href="{:url('/home/message/index')}">
						<img src="__IMG__/index/adShort1.jpg" width="276" height="223">
					</a>
				</div>
				<div class="insure-subject-3-main">
				    <a href="{:url('/home/insurance/index')}">
					   <img src="__IMG__/index/adShort2.jpg" width="276" height="223">
				    </a>
				</div>
			</div>
		</div>
	</div>
</div>
<!--投保指南-->
<div id="insuer-guide">
	<div class="container">
		<div class="insuer-guide">
			<div class="insure-professor-box-title">
				<span class="professor">投保指南</span>
				<span class="hot-title">choose best</span>
			</div>
			<div class="insure-guide-main">
				<div class="insuer-guide-main-1">
					<p>险种导航</p>
					<p><img src="__IMG__/index/zhinan1.png" height="130" width="370"></p>
					<div class="insuer-guide-main-1-list">
						<ul>
						{foreach $insurance as $k=>$row}
							<li><a href="{:url('Insurance/detail',['id'=>$k])}">{$row}</a></li>
						{/foreach}
						</ul>
					</div>
					<p><a href="{:url('Article/lists',['id'=>2])}">更多险种</a></p>
				</div>
				<div class="insuer-guide-main-1">
                    <p>保险案例</p>
                  	<p><img src="__IMG__/index/zhinan2.png" height="130" width="370"></p>
                  	<div class="insuer-guide-main-1-list">
						<ul>
						{foreach $cases as $row}
							<li><a href="{:url('home/Article/detail', ['id'=>$row.article_id])}">{$row.title}</a></li>
						{/foreach}
						</ul>
					</div>
					<p><a href="{:url('Article/lists',['id'=>51])}">更多案例</a></p>
				</div>
				<div class="insuer-guide-main-1">
					<p>理赔技巧</p>
					<p><img src="__IMG__/index/zhinan3.png" height="130" width="370"></p>
					<div class="insuer-guide-main-1-list">
						<ul>
							{foreach $skills as $row}
								<li><a href="{:url('home/Article/detail', ['id'=>$row.article_id])}">{$row.title}</a></li>
							{/foreach}
						</ul>
					</div>
					<p><a href="{:url('Article/lists',['id'=>2])}">更多技巧</a></p>
				</div>
			</div>
		</div>
	</div>
</div>
<!--友情链接-->
<div id="other-www">
	<div class="container">
		<div class="other-www">
			<div class="other-title">
				<ul class="other-title-list">
					<li class="on">合作品牌</li>
					<li>
					友情链接
					<a name="yqhref" id="yqhref"></a>
					</li>
				<p><b></b></p>
				</ul>
			</div>
			<div class="other-product-wrap">
				<div class="other-product showtime">
					{foreach $partners as $row}
						<a href="{$row.url}" target="_blank"><img src="{$row.icon}" height="50" ></a>
					{/foreach}
				</div>
				<div class="other-product ">
					{foreach $links as $row}
						<a href="{$row.url}" target="_blank"><img src="{$row.icon}" height="50"></a>
					{/foreach}
				</div>
			</div>
		</div>
	</div>
</div>
{/block}
{block name="script"}
<script type="text/javascript" src="__JS__/jquery.js" ></script>
<script type="text/javascript" src="__JS__/main.js" ></script>
<script type="text/javascript" src="__JS__/cityselect.js" ></script>
<script type="text/javascript" src="__JS__/jquery.validate.min.js" ></script>
<script type="text/javascript" src="__JS__/free.js" ></script>
<script type="text/javascript" src="__JS__/jquery.citys.js" ></script>
<script >
$(document).ready(function(){
  $(".nav-main>li:eq(0)").addClass('indexon');
})
</script>
<!-- 城市三级联动 -->
<script type="text/javascript">
$("#province_id").change(function(){
    var province_id=$(this).val();
    var urlCity = "{:url('Area/getCities')}?id="+province_id;

    $.ajax({
        url: urlCity,
        Type:"GET",
        data:"",
        dataType:"json",
        success:function(data){
            var option1=$("<option value='0'></option>");
            // $(option1).val("0");
            $(option1).html("--请选择--");
            $("#city_id").html(option1);
            $("#area_id").html(option1);

            $.each(data, function(i,row) {
                var option=$("<option></option>");
                $(option).val(row.id);
                $(option).html(row.name);

                $("#city_id").append(option);
            });
        }

    });
});
$("#city_id").change(function(){
    var city_id=$(this).val();
    var urlArea = "{:url('Area/getAreas')}?id="+city_id;

    $.ajax({
        url:urlArea,
        Type:"GET",
        data:"",
        dataType:"json",
        success:function(data){
            $("#area_id").html('');
            $.each(data, function(i,row) {
                var option=$("<option></option>");
                $(option).val(row.id);
                $(option).html(row.name);
                $("#area_id").append(option);
            });
        }
    });
});
</script>
{/block}
